<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New post</title>
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen">
    <link rel='stylesheet' href='/css/style.css'>
  </head>
  <body>

      <div class = 'navbar navbar-inverse'>
        <div class = 'container'>
          <span class = 'navbar-brand'><a href='/'> My Blog</a></span>
        </div>
      </div>
      {%block content%}
        {% for post in posts%}
          <div class = 'container'>
            <div class = 'row'>
               <div class = 'col-xs-8'>
                   <div class="row title">
                     <div class = 'col-xs-9'><h2> <a href="/post/{{post.key().id()}}">{{post.title}}</a></h2></div>
                     <date class = "col-xs-3 ">{{post.date.strftime('%Y-%m-%d %H:%M:%S')}}</date>
                   </div>
                   <div class = 'row'>
                     <p class = 'col-xs-12 top-margin-high'>
                       {{post.content}}
                     </p>
                   </div>
               </div>
            </div>

          </div>
          {%endfor%}
      {%endblock%}

  </body>
</html>
